/*----------------Global--------------- */

* {
    margin: 0;
    padding:0; 
}

div.selectize-input,
div.selectize-dropdown{
    color:#555555;
}

/*----------------Header & Navbar--------------- */
/* setting margin */
#page {
    position: relative;
    padding-top: 10px;
    color: #555555;
}

/* IoW logo and title in same line */
.header {
    overflow: auto; 
    padding-bottom: 10px;
}

/* Logo placement */
.header img {
    float: left;
    margin-left: 25px;
    padding-top: 3px;
}

/* Title attributes */
.header h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding-top: 5px;
    padding-right: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #555555;
    
  }

/* Remove navbar border and extra space upon collapsing window */

nav.navbar.navbar-default.navbar-static-top{
    position: sticky;
    top: 0;
    opacity: 0.9;
}


.navbar {
    border: none;
    margin: 0;
    min-height: 0;
    
}

/* Remove top and bottom padding */
.navbar-nav {
    margin: 0;
}

/* Remove extra top space */
.navbar-brand {
    display: none;
} 


/* Make gray navbar bg extend to window border */
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    display:absolute;
}

/* Center navbar text */
ul.nav.navbar-nav {
    text-align: center;
   /* padding: 20px; */
    width: 100%;
    background-color: #ededed;
  /* height: 100px; */
    /* -webkit-box-shadow: 0px 7px 14px -8px rgba(173,164,173,0.46);
    -moz-box-shadow: 0px 7px 14px -8px rgba(173,164,173,0.46);
    box-shadow: 0px 7px 14px -8px rgba(173,164,173,0.40); */
}

/* Center navbar text */
ul.nav.navbar-nav li {
    display: inline-block;
    float: none;
}

/* Change navbar text attributes */
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

/* Change active tab color */
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus {
    color: white;
    background-color: #182856;
}

/* Change hover color */
.navbar-default .navbar-nav>li>a:hover {
    color: #01AFA8;
}

/* Tab content margin */
.tab-content {
    margin-left: 0px;
    /* margin-top: 25px; */
}

/* Reducing width of drop-down menu */
.dropdown-menu {
    min-width: 0;
}

/* diminish space between navbar and image */
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content:none;
}

/***************************************************************************
Tab - State
***************************************************************************/
/*--------------btn and col styles also applies to component tab ------------- */

/* Deafult button attributes */
.btn {
    border: none;
    border-radius: 10;
    background-color: #01AFA8;
    color: white;

}

/* Hover attributes */
.btn:hover {
    color:#01AFA8;
    border: none;
}

/* After-click attributes */
.btn-default.focus, .btn-default:focus {
    outline: none;
    border-radius: 10;
    background-color: #01AFA8;
    color: white;
}

/* Uniform position attributes */
.col-sm-12, .col-sm-3, .col-sm-2 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}



/* Align checkbox with drop down  */
.col-sm-2 {
    padding-top: 25.5px;
    z-index:1;
}

/* Spacing if window is minimized */
@media (max-width: 766px) {
    .col-sm-2 {
        padding-top: 0px;
    }
}

/* Level labels */

#state_sticky {
    position: sticky;
    top: -50px;
    text-align: center;
}
 
#state_sticky svg {
    background: white;
    position: relative;
    margin-top: -9px;
    
}

@media (max-width: 766px) {
    #state_sticky {
        position: sticky;
        top: 50px;
    }

}

/* Align the chart rectangular box to the center */
#state_container {
    text-align: center;
}

/**************************************************************************
Tab - component
***************************************************************************/

/* Align the chart box to the center */
#component_container{
    text-align: center;
}

#component_summary {
    overflow: hidden;
    background: #F8F8F8;
    width: 1050px;
    margin: auto;
    border-radius: 20px;
    line-height: 20px;
    text-align: left;
    padding: 10px 0px 20px 30px;
    line-height: 2;
    /* -webkit-box-shadow: 0px 0px 12px 0px rgba(173,164,173,0.35);
    -moz-box-shadow: 0px 0px 12px 0px rgba(173,164,173,0.35);
    box-shadow: 0px 0px 12px 0px rgba(173,164,173,0.35); */
} 

#component_title {
    padding-bottom: 10px;
    
}

a, a:hover, a:visited {
    color:inherit;
}

.banner {
    position: relative;
    line-height: 20px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 25px;
}

.banner > .banner-img-component {
    height: 110%;
    width: 110%;
    margin-left: -10px;
    margin-top: -10px;
    filter: grayscale(75%) blur(4px);
}

.banner > .banner-img-state {
    height: 110%;
    width: 110%;
    margin-left: -10px;
    margin-top: -10px;
    filter: grayscale(50%) blur(4px);
}

.banner > .banner-text .h1 {
    position: absolute;
    color: white;
    top: 50px;
    left: 35px;
    font-weight: bolder;
    font-size: 40px;
    /* add animation */
}

.banner > .banner-text .h3 {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 120px;
    left: 35px; 
}

/* Prevent banner header and subheader squish into each other when window is small or on phones */
@media (max-width: 766px) {
    .banner > .banner-text .h1 {
        position: absolute;
        color: white;
        top: 50px;
        left: 35px;
        font-weight: bolder;
        font-size: 8vw;
    }

    .banner > .banner-text .h3 {
        position: absolute;
        color: white;
        font-size: 20px;
        top: 100px;
        left: 35px;
        line-height: 1.3;
        font-size: 5vw; 
    }

}

/* Fade-in animation banner title */
.banner-text {
    animation: fade linear 1s 1;
    -webkit-animation: fade linear 1s 1;
    -moz-animation: fade linear 1s 1;
    -o-animation: fade linear 1s 1;
    -ms-animation: fade linear 1s 1;
  }

@keyframes fade {
    0%   { opacity:0; }
    100% { opacity:1; }
  }
@-o-keyframes fade{
    0%   { opacity:0; }
    100% { opacity:1; }
  }
@-moz-keyframes fade{
    0%   { opacity:0; }
    100% { opacity:1; }
  }
@-webkit-keyframes fade{
    0%   { opacity:0; }
    100% { opacity:1; }
  }

@-ms-keyframes fade {
    0% { opacity:0; }
    100% { opacity:1; }
}



/**************************************************************************
Tab - Data Source
***************************************************************************/


#data_source_sticky {
    position: sticky;
    top: -50px;
    text-align: center;
}
 
#data_source_sticky svg {
    background: white;
    position: relative;
    margin-top: -9px;
    
}

@media (max-width: 766px) {
    #data_source_sticky {
        position: sticky;
        top: 50px;
    }

}

/* Align the chart rectangular box to the center */
#data_source_container {
    text-align: center;
}







/**************************************************************************
Tab - Home
***************************************************************************/

.home-banner {
    position: relative;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: hidden;
    font-size: 1em;
}

.home-banner > .home-banner-img {
    height: 110%;
    width: 110%;
    margin-left: -10px;
    margin-top: -10px;
    vertical-align: middle;
    filter: grayscale(75%) blur(4px);
}

.home-banner > .banner-text .h1 {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    font-size: 40px;
    /* add animation */
}

@media (max-width: 766px) {
    .home-banner > .banner-text .h1 {
        position: absolute;
        color: white;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bolder;
        font-size: 10vw;
    }

}

.scrolldown {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-40px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1) {
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 1;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%, 100% {
        top: 5px;
        left: 5px;
        opacity:0;
    }
}

.instruction {
    background: #F8F8F8;
    position: relative;
    width: 100%;
}

.instruction h1 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.instruction .text-area {
    padding-top: 5em;
    padding-left: 3em;
    line-height: 2;
    width: 100%;
    height: 400px;
    margin: auto;
    background-color: #F8F8F8;
    position: relative;
}

 /* watch for snap scrolling https://www.youtube.com/watch?v=0Og_kQUsxEw */